@charset "utf-8";
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.red{
  width: 400px;
  height: 100px;
  background: #ff0000;
  position: relative;
}
.white{
  position: absolute;
  display: flex;
  right: 20px;
  top: 20px;
  padding: 10px;
  background-color: #ffffff;
}
.purple{
  width: 40px;
  height: 40px;
  background: #a9004b;
  margin-right: 10px;
}
.purple:last-child{
  margin-right: 0;
}
.green{
  width: 150px;
  height: 250px;
  background: #00ff51;
  float: left;
}
.brawn{
  width: 250px;
  height: 250px;
  background: #8c2727;
  float: left;
  position: relative;
}
.orangebox{
  position: absolute;
  left: 40px;
  top: 40px;
}
.orange{
  width: 140px;
  height: 40px;
  background: #ff863f;
  border: 5px solid #ffffff;
  margin-bottom: 10px;
}
.orange:last-child{
  margin: 0;
}
.yellow{
  width: 400px;
  height: 100px;
  background: #ffd000;
}